@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquete</title>
</head>

<body>
    <h1> Enquete Web</h1>
    <h2> Quer tomar sorvete?</h2>
    <p>
        <a asp-action="Responder">Responder agora </a>
    </p>
</body>

</html>
