<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Enquete Web</h1>
    <h2> Obrigado pela resposta!</h2>
    <p>
        <a asp-action="Index">Voltar ao inicio! </a><br>
        <a asp-action="Resultado">Ver Resultados </a>
    </p>
</body>
</html>