@model IEnumerable<Resposta>
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <h1> Enquete Web</h1>
    <h2> Resultado Parcial:</h2>

@foreach(Resposta r in Model){
    <p>@(r.Nome):@(r.Sim.Value ? "SIM":"NÃO")</p>
}
    <p>
        <a asp-action="Index">Voltar ao inicio! </a>
    </p>
    
</body>
</html>